Oil_Station/backend/node_modules
Express-TypeScript/node_modules
ShowNumber/node_modules
Library/node_modules
Library/.env
Library/GlobalVariables
Library/public/uploads
Subjects/GlobalVariables
Subjects/node_modules
MySQL/Node-Express-starter/node_modules
Users/node_modules
Users/.env
Hotele/node_modules
Hotele/.env
hotele-frontend/node_modules
hotele-frontend/build
hotele-frontend/.gitignore