<h2>Search Books</h2>
<form action="/books" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">

    </div>
    <div>
        <label>PublishedAfter</label>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <% books.forEach(book => { %>
        <div>
            <a href="/books/<%= book.id %>">
                <img src="<%= book.coverImagePath  %> " alt="imageCover" width="150" height="200">
            </a>
        </div>
        <% })%>
</div>