<header>
    <nav>
        <a href="/">Subjects</a>
        <ul>
            <li><a href="/subjects">All Subjects</a></li>
            <li><a href="/subjects/new">Add Subject</a></li>
        </ul>
    </nav>
</header>