<h2>
    <%= author.name %>
</h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/authors/${author.id}`}) %>

    <% if(booksByAuthor.length > 0) { %>
        <h2>Books BY Author</h2>
        <% booksByAuthor.forEach(book => { %>
            <div>
                <p>
                    <% book.title %>
                </p>
                <img src="<%= book.coverImagePath %>" alt="imageCover" width="150" height="200">
            </div>
            <% })%>
                <% } %>