<div>
    <label>Name</label>
    <input type="text" placeholder="Write name of Subject..." name="name" value="<%= subject.name %> ">
</div>
<div>
    <label>Techer</label>
    <input type="text" placeholder="Write name and surname of teacher..." name="teacher" value="<%= subject.teacher %> ">
</div>